<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <sessionState mode="Off" />
    </system.web>
    <system.webServer>
        <httpLogging dontLog="true" />
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" />
                        <add provider="ASP" areas="" />
                    </traceAreas>
                    <failureDefinitions statusCodes="405-999" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
